
@{
    ViewData["Title"] = "About";
}

<h1 class="my-4">Contact Us</h1>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-4 jumbotron p-2 mb-2">
            <h1 class="text-center text-dark">About</h1>
        </div>
    </div>
    <div class="row justify-content-center">
        <p>Here's a bunch of info that no one ever reads. No one. Ever. Reads.</p>
    </div>
</div>
