@model Message
@{
    ViewData["Title"] = "ContactUs";
}

<div class="container">
    <div class="panel panel-success">
        <div class="panel-heading text-center">
            <h1>Send Us A Message</h1>
        </div>
        <div class="panel-body row justify-content-center text-center">
            <div class="col-6">
                <form class="p-a-1" method="post">
                    <div class="form-group">
                        <label asp-for="Name">Your name:</label>
                        <input class="form-control" asp-for="Name" />
                    </div>
                    <div class="form-group">
                        <label asp-for="MessageTitle">Message Title:</label>
                        <input class="form-control" asp-for="MessageTitle" />
                    </div>
                    <div class="form-group">
                        <label asp-for="MessageBody">Your Message:</label>
                        <input class="form-control" asp-for="MessageBody" />
                    </div>
                    <div class="text-center">
                        <button class="btn btn-primary" type="submit">
                            Submit
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>